

<div class="row">
	
	<div class="container">			

 		<div class="col-sm-12 col-sm-offset-1"> 
			<button mat-raised-button color="accent"  [routerLink]="['/new']">Add A Book</button> <br/><br/>
		</div>
	</div>
</div>  
 <div class="row">

 	<div class="container">
 	<div class="col-sm-12 col-sm-offset-1"> 
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Title</th>
		        <th>Author</th>
		        <th>Genre</th>
		        <th>Library Section</th>
		        <th>Borrowed</th>
		        <th>Overview</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr  *ngFor="let book of books" >
		        <td>{{ book.title }} {{book.id}}</td>
		        <td>{{ book.author }}</td>
		        <td>{{ book.genre }}</td>
		        <td>{{ book.section }}</td>
		        <td> 
		        		<span *ngIf="book.isborrowed == 0" >Available</span> 
		        		<span *ngIf="book.isborrowed == 1">The book is out !</span></td>
		        <td> 
		            <button mat-raised-button color="accent"  [routerLink]="['/edit/book/'+book.book_id]">Edit</button> 
		            <button mat-raised-button color="primary" (click)="deleteBook(book.book_id)">Delete</button>
		        </td>
		      </tr>
		    </tbody>
		  </table>
 	</div>
 	</div>
 </div>