 <div style="min-height: 100%; height:cover;display:table;"> 
    <div class="form-row">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username" value={{username}} placeholder="Your Username">
      </div>
     
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password" value={{password}} class="form-control" id="password">
    </div>
    <strong>{{ _globalService.get_errorMessage() }}</strong>  
      <br/>
    <button mat-raised-button color="primary" (click)="loginCheck($event)">Submit</button>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/>
 </div>