 <div class="container"> 
     <div class="col-md-12 col-sm-offset-1"> 
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="book.title" value="{{book.title}}" placeholder="title">
            </div>
           
          </div>
    </div>

    <div class="col-md-12 col-sm-offset-1">
       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="book.author" value="{{book.author}}" placeholder="Charles Darwin">
          </div>
    </div>
    </div>
    <div class="col-md-12 col-sm-offset-1">
       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea  class="form-control"  style="min-height:220px;" id="description" placeholder="Tell us why would anyone read this?">
            	I find these debates about reading as enjoyably incensing as anyone – and, just to be clear, I deplore the restrictions placed on prisoners' access to books, which seems less of a storm in a teacup and more of a violation of basic human rights. However, taken alongside the general hum of social networks, book groups, the media-shopping complex and the literary festival season now upon us, I mistrust my own eagerness to engage with this sort of stuff. It is a very good way not to get any reading done.

            </textarea>
          </div>
          </div>
    </div>
    <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">
              <label for="genre">Genre</label>
              <select id="genre" [(ngModel)]="book.genre_id" value="{{ book.genre_id }}" class="form-control form-control-lg">
                <option *ngFor="let genre of genres" selected="genre.id == book.genre_id"   value="{{ genre.id }}">{{ genre.name }}</option>   
              </select>
            </div>
            </div>
    </div> 
     <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">
              <label for="section">Library Section</label>
              <select id="section" [(ngModel)]="book.section_id"  class="form-control form-control-lg">
                <option *ngFor="let section of sections" selected="section.id == book.section_id" value="{{ section.id }}">{{ section.name }}</option>                 
              </select>
            </div>
          </div>
    </div>
      <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">

                <button mat-raised-button color="primary" (click)="editBook(event)"   data-id="{{book.book_id}}">Edit</button>

            </div>
          </div>
    </div>
  
</div>
 