 <div class="container"> 
     <div class="col-md-12 col-sm-offset-1"> 
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="title">Title</label>
              <input type="text" [(ngModel)]="book.title" class="form-control" id="title" placeholder="Title">
            </div>
           
          </div>
    </div>

    <div class="col-md-12 col-sm-offset-1">
       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="author">Author</label>
            <input type="text" class="form-control" [(ngModel)]="book.author" id="author" placeholder="Author">
          </div>
    </div>
    </div>
    <div class="col-md-12 col-sm-offset-1">
       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea  class="form-control"  style="min-height:220px;" id="description" placeholder="Tell us why would anyone read this?" disabled>
            	I find these debates about reading as enjoyably incensing as anyone – and, just to be clear, I deplore the restrictions placed on prisoners' access to books, which seems less of a storm in a teacup and more of a violation of basic human rights. However, taken alongside the general hum of social networks, book groups, the media-shopping complex and the literary festival season now upon us, I mistrust my own eagerness to engage with this sort of stuff. It is a very good way not to get any reading done.

            </textarea>
          </div>
          </div>
    </div>
    <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">
              <label for="genre">Genre</label>
          		<select id="genre" [(ngModel)]="book.genre" value='1'  class="form-control form-control-lg">
          		  <option *ngFor="let genre of genres" value="{{genre.id}}">{{ genre.name }}</option>          		   
          		</select>
            </div>
            </div>
    </div>
     <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">
              <label for="section">Library Section</label>
              <select id="section" [(ngModel)]="book.section" placeholder="Choose Section" class="form-control form-control-lg"> 
                <option *ngFor="let section of sections" value="{{section.id}}" >{{ section.name }}</option>                 
              </select>
            </div>
          </div>
    </div>
    <div class="col-md-12 col-sm-offset-1">
          <div class="form-row">
            <div class="form-group col-md-12 ">

                <button mat-raised-button color="primary" (click)="addBook()" >Add</button>

            </div>
          </div>
    </div>
  
</div>
 