<div id="wrapper" [ngClass]="isActive ? 'toggled':'' ">

        <!-- Nav -->
        

        <!--MAT TOOLBAR-->

        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-button [routerLink]="['']">   FFUF Manila   </button>  
            
            <span flex style="flex: 1 1 auto;"> </span>
            <button mat-button color="info" *ngIf="_globalService.get_isAdmin()"  [routerLink]="['new']"> Add Book </button>
            <button mat-button color="info" [routerLink]="['new/genre']"> Genre </button>
            <button *ngIf="_globalService.get_isAdmin()" mat-button color="info" [routerLink]="['manage/books']"> Manage Books </button>
            
            <button mat-button color="warning" *ngIf="_globalService.get_isLoggedIn()" [routerLink]="['login']"> Logout </button> 
             <span flex > &nbsp;&nbsp;&nbsp;&nbsp;</span>   
        
            <span style="text-align: right; width:320px;">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" mat-button type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <!-- Sidebar -->
        <div id="sidebar-wrapper"  >
            <ul class="sidebar-nav">
                <li class="sidebar-/brand">
                    <a href="#">
                      Register
                    </a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li><a href="/profile">{{ _globalService.get_loginMessage() }}</a></li>
            </ul>
             
        </div> 
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <h3>  
                  <span>    
                    
                    <button (click)="isActive = !isActive;" class="md-icon-button md-primary" mat-raised-button color="accent" id="menu-toggle"><i class="material-icons">menu</i></button>
                  </span>Rio's Book Case 
                </h3>

               <br><br><br>
                <div class="main">
                    <div class="row">
                      <router-outlet></router-outlet>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->


</div>